/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Helvetica Neue', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
}

/*Navbar*/
.navbar img {
  height: 40px;
}
.nav-item {
  padding: 20px;
}
.modal-content {
  background-color: #1c1c1c; 
}
/*End Navbar*/

/*Landing*/
#landing {
  height: 75vh;
}
#landing h1 {
  font-size: 70px;
  font-weight: bold;
  color: #F9F6EF;
}
#landing img {
  height: 80px;
  color: #333;
}
/*.show {
  delay
}*/
.strikethrough {
  color: #666;
  opacity: .5;
  text-decoration: line-through;
  transition: 1s;
}
/*End Landing*/

/*About*/
#minimal {
  background-color: #1c1c1c;
  color: #F9F6EF;
  height: 70vh;
}
#minimal h1 {
  color: #F9F6EF;
  font-size: 30vh;
  font-family: 'Roboto', sans-serif;
}
#minimal span {
  color: #666;
  font-size: 5vh;
  font-family: 'Helvetica Neue', sans-serif;
}
#me {
  height: 70vh;
  background-color: #1c1c1c;
  border-top: 17vh solid #F9F6EF;
  /*border-bottom: 5px solid #dc3545;*/
}
#me img {
  height: 30vh;
  border-radius: 50%;
  box-shadow: 10px 10px #ffe500;
  position: relative;
  top: -50%;
}
.me2 h3 {
  position: relative;
  top: -70%;
  color: #666;
}
.me2 h1 {
  position: relative;
  top: -75%;
  color: #F9F6EF;
}
.me3 button {
  position: relative;
  top: -220%;
}
#me .aboutname {
    margin-top: 40px;
  }
/*About2*/
#about2 h1 {
  font-size: 20vh;
  position: relative;
  top: 8%;
  font-weight: bold;
}
#about2 #image1 {
  height: 80vh;
  box-shadow: 20px 20px #ffe500;
}
#about2 #skills {
  margin-top: 150px;
}
#skills img {
  height: 80px;
  padding: 15px;
  margin: 0 1px;
}
#skills h2 {
  font-weight: bold;
  margin-top: 40px;
  color: #F9F6EF;
  /*border-bottom: 5px solid #dc3545;*/
}
#skills figure {
  display: inline-block;
}
#skills figure:hover {
  transform: scale(1.2);
  transition: .3s;
}
#skills figcaption {
  font-size: 12px;
  color: #999;
}

/*About 3*/
#about3 {
  background-image: url(images/abstract.png);
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
}
#about3 img {
  height: 50vh;
}
#about3 h1 {
  color: #F9F6EF;
}
/*End About*/

/*Featured*/
.tab-content {
  height: 70vh;
}
#featured h1 {
  font-size: 20vh;
  position: relative;
  top: 8%;
  font-weight: bold;
}
#featured h2 {
  font-size: 6vh;
  font-weight: bold;
  color: #F9F6EF;
}
#featured .adopt {
  background-color: #1c1c1c;
}
.set img {
  height: 50vh;
  margin-top: 40px; 
}
.adopt p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #666;
}
.setcontent img {
  height: 50px;
  padding: 5px;
}
#featured .nav-link img {
  height: 20vh;
  position: relative;
  top: 15%;
  border-radius: 10px;
}
#featured .nav-link {
  height: 30vh;
}
#featured .nav-link:hover {
  opacity: .5;
}
#featured .adopticon {
  background-color: #1c1c1c;
}
#featured .vantage {
  background-color: #1c1c1c;
}
.vantage p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #666;
}

#featured .vantageicon {
  background-color: #1c1c1c;
}
#featured .covid {
  background-color: #1c1c1c;
}
.covid p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #666;
}
#featured .covidicon {
  background-color: #1c1c1c;
}
#featured ul {
  margin-top: 20px;
}
/*End Featured*/

/* Extra */
#extra .isa {
  height: 100vh;
  background-color: #1c1c1c;
}
#extra .tatlo {
  height: 100vh;
  background-color: #ffe500;
}
#extra .logo {
  height: 10vh;
  background-color: #333;
}
#extra .img {
  height: 100vh;
}
.isa h2 {
  font-size: 50px;
  color: #F9F6EF;
}
/* End Extra */

/* Footer */
#footer {
  height: 100vh;
  background-image: url(images/footerabstract.png);
  background-size: cover;
}
#footer .foot {
  height: 70vh;
  background-color: #1c1c1c;
  margin-top: 150px;
}
.social-media a{
  color: #F9F6EF;
  padding: 0 .2rem;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 5px; 
}
.social-media a:hover{
  color: #ffe500;
}
.foot h1 {
  color: #666;
}
.foot p {
  color: #ffe500;
}
.foot h2 {
  /*color: #ffe500;*/
  font-size: 88px;
  font-weight: bolder;
  position: relative;
  top: -33%;
}
.foot span {
  color: #F9F6EF;
  font-size: 18px;
  font-weight: bolder;
}
.hi {
  background-color: #333;
}
.hi img {
  height: 50px;
  display: block;
}
.goup img {
  height: 80px;
  transform: rotate(180deg);
}
/* End Footer */

/* MEDIUM SCREEN */
@media only screen and (min-width: 451px) and (max-width: 960px) {
  /*About*/
  #minimal h1 {
    font-size: 10vh;
  }
  #me img {
    position: relative;
    top: -50%; 
  }
  .me2 h3 {
    position: relative;
    top: -100%;
  }
  .me2 h1 {
    position: relative;
    top: -100%;
  }
  .me3 button {
    position: relative;
    top: -400%;
  }
  #me .aboutname {
    margin-top: 100px;
  }
  #about2 h1 {
    font-size: 15vh;
    top: 5%;
  }
  /*End About*/

  /*Featured*/
  #featured h1 {
    font-size: 13vh;
    top: 5%;
  }
  .tab-content {
    height: 100vh;
  }
  .set img {
    height: 40vh;
  }
  /*End Featured*/

  /*Extra*/
  #extra .isa {
    height: 60vh;
  } 
  #extra .dalawa img {
    height: 60vh;
  }
  #extra .tatlo {
    height: 10vh;
  }
  /*End Extra*/

  /*Footer*/
  #footer {
    background-size: contain;
  }
  .foot h1 {
    font-size: 20px;
  }
  .foot p {
    font-size: 14px;
  }
  .foot h2 {
    font-size: 70px;
    position: relative;
    top: -20%;
  }
  /*End Footer*/
}

/* SMALL SCREEN */
@media only screen and (max-width: 451px) {
  /*Landing*/
  #landing {
    height: 100vh;
  }
  #landing h1 {
    font-size: 50px;
  }
  #landing img {
    height: 80px;
    color: #333;
  }
  /*End Landing*/
  /*About*/
  #minimal h1 {
    font-size: 50px;
  }
  #me img {
    position: relative;
    top: -50%; 
  }
  .me2 h3 {
    position: relative;
    top: -70%;
  }
  .me2 h1 {
    position: relative;
    top: -70%;
    font-size: 30px;
  }
  .me3 button {
    position: relative;
    top: -250%;
  }
  #about2 h1 {
    font-size: 80px;
    position: relative;
    top: 6%;
    font-weight: bold;
  }
  #about2 #image1 {
    height: 50vh;
  }
  #about3 img {
    height: 20vh;
  }
  /*End About*/
  /*Featured*/
  .tab-content {
    height: 90vh;
  }
  #featured h1 {
    font-size: 65px;
    top: 5%;
  }
  .set img {
    height: 30vh;
  }
  #featured h2 {
    font-size: 4vh;
  }
  #featured ul {
  margin-top: 80px;
}
  /*End Featured*/

  /*Extra*/
  #extra .isa {
    height: 70vh;
  } 
  #extra .dalawa img {
    height: 40vh;
  }
  #extra .tatlo {
    height: 5vh;
  }
  .isa h2 {
  font-size: 40px;
}
  /*End Extra*/

  /*Footer*/
  #footer {
    background-size: contain;
  }
  .foot h1 {
    font-size: 20px;
  }
  .foot p {
    font-size: 14px;
  }
  .foot h2 {
    font-size: 70px;
    position: relative;
    top: 0%;
  }
  .foot .hi {
    padding: 15px;
  }
  .goup img {
    height: 50px;
    transform: rotate(180deg);
  }
  /*End Footer*/
}